apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "marathon.fullname" . }}
  labels:
    app: {{ template "marathon.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "marathon.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - sh
            - -c
            - sed -i "s/MARATHONSERVER_ADDR/$MARATHONSERVER_ADDR/" /etc/nginx/nginx.conf && \
              nginx -g "daemon off;"
          env:
            - name: MARATHONSERVER_ADDR
              value: {{ template "marathonserver.fullname" . }}
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.internalPort }}
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.internalPort }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
    {{- end }}
